/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */

@font-face {
  font-family: AppleII_40Col;
  src: url('/font/AppleII_40Col.ttf');
}

@font-face {
  font-family: AppleII_80Col;
  src: url('/font/AppleII_80Col.ttf');
}

:root {
  /* Apple II Color Palette */
  --a2black: #000000;
  --a2magenta: #99035f;
  --a2purple: #ca13fe;
  --a2darkgreen: #007310;
  --a2lightgrey: #7f7f7f;
  --a2cyan: #2497ff;
  --a2brown: #4f5101;
  --a2orange: #f05c00;
  --a2grey: #bebebe;
  --a2pink: #ff85e1;
  --a2green: #12ca07;
  --a2yellow: #ced413;
  --a2aqua: #51f595;
  --a2white: #fffffe;
  --a2lightblue: #aaa2ff;
  --a2darkblue: #4204e1;
}

a:link {
  color: var(--a2cyan);
}

a:visited {
  color: var(--a2aqua);
}

a:hover {
  color: var(--a2darkblue);
}

html {
  color: var(--a2white);
  background: var(--a2black);
}

@media all and (max-width: 1370px) {
  html {
    font-family: AppleII_80Col, monospace;
  }
}

@media not all and (max-width: 1370px) {
  html {
    font-family: AppleII_40Col, monospace;
  }
}

/* correct for normalize's forced fixes */
pre {
  font-family: inherit;
  line-height: 1.0;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  color: var(--a2black);
  background: currentColor;
  text-shadow: none;
}

::selection {
  color: var(--a2black);
  background: currentColor;
  text-shadow: none;
}

body {
  position: relative;
  margin: 30px 6% 30px 6%;
  overflow: auto;
}

tr {
  height: 0;
}

td {
  height: inherit;
}

.col62pc {
  width: 62%;
}

.col38pc {
  width: 38%;
}

.col70pc {
  width: 70%;
}

.col30pc {
  width: 30%;
}

.content-wrapper {
  box-sizing: border-box;
  padding: 0;
}

.content-pane {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: inline-flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
}

.content-element {
  margin-left: 22px;
  margin-right: 22px;
}

.spacer {
  margin: 22px 0 0 0;
  height: 0;
}

table {
  border-collapse: collapse;
}

hr {
  display: block;
  border: none;
  height: 0;
  border-top: 5px solid var(--a2white);
  align-self: stretch;
}


.divider {
  padding: 0;
  margin: 0;
  height: 0;
  width: 100%;
}

.featured-list {
  width: 76%;
  padding: 0 12%;
  margin-bottom: 22px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-around;
  align-items: center;
}

.featured-list > * {
  margin-top: 0;
  margin-bottom: 0;
}

.tools-list {
  width: 93%;
  margin: 0 0 22px 7%;
  column-count: 3;
  column-fill: balance;
}

.tools-list > * {
  margin: 0;
}

.text-large {
  font-size: 1.35em;
}

.text-medium {
  font-size: 1.0em;
}

.text-small {
  font-size: .75em;
}

/*.list-header {*/
/*  margin-top: 10px;*/
/*  margin-bottom: 3px;*/
/*}*/

h2 {
  font-weight: normal;
  font-size: 1.5em;
  margin-top: 22px;
  margin-bottom: 22px;
}

h3 {
  font-weight: normal;
  font-size: 1.2em;
  margin-top: 10px;
  margin-bottom: 10px;
}

h4 {
  font-weight: normal;
  font-size: 1.1em;
  line-height: 1.5;
}

p {
  line-height: 1.2;
}

.logo-pic {
  height: 0;
  min-height: 100%;
  float: left;
  margin-right: 13px;
}

.logo-text {
  margin: 15px 0;
}

.external-margins {
  margin-top: 22px;
  margin-bottom: 22px;
}

.internal-margins > *:first-child {
  margin-top: 22px;
}

.internal-margins > *:last-child {
  margin-bottom: 22px;
}

.a2border {
  border: 5px solid var(--a2white);
}

#projects {
  border-top: none;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

